
@using Components;

@page "/editemployee/{id}"
@page "/editemployee"


<EditForm Model="@EditEmployeeModel" OnValidSubmit="SubmitForm">
    <h3>@PageHeaderText</h3>
    @*<DataAnnotationsValidator />*@
    <ObjectGraphDataAnnotationsValidator />
    <ValidationSummary />
    <hr />
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">
            First Name
        </label>
        <div class="col-sm-10">
            <InputText id="firstName" class="form-control" placeholder="First Name"
                       @bind-Value="EditEmployeeModel.FirstName" />
            <ValidationMessage For="(()=> EditEmployeeModel.FirstName)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">
            Last Name
        </label>
        <div class="col-sm-10">
            <InputText id="lastName" class="form-control" placeholder="Last Name"
                       @bind-Value="EditEmployeeModel.LastName" />
            <ValidationMessage For="(()=> EditEmployeeModel.LastName)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">
            Email
        </label>
        <div class="col-sm-10">
            <InputText id="email" class="form-control" placeholder="Email"
                       @bind-Value="EditEmployeeModel.Email" />
            <ValidationMessage For="(()=>EditEmployeeModel.Email)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="confirmEmail" class="col-sm-2 col-form-label">
            Confirm Email
        </label>
        <div class="col-sm-10">
            <InputText id="confirmEmail" class="form-control"
                       @bind-Value="EditEmployeeModel.ConfirmEmail" />
            <ValidationMessage For="@(() => EditEmployeeModel.ConfirmEmail)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="department" class="col-sm-2 col-form-label">
            Department
        </label>
        <div class="col-sm-10">
            <InputSelectCustom id="department" @bind-Value="EditEmployeeModel.DepartmentId" class="form-control">
                @foreach (var dept in Departments)
                {
                    <option value="@dept.Id">@dept.Name</option>
                }
            </InputSelectCustom>
        </div>
    </div>
    <div class="form-group row">
        <label for="Gender" class="col-sm-2 col-form-label">
            Gender
        </label>
        <div class="col-sm-10">
            <InputSelect id="Gender" @bind-Value="EditEmployeeModel.Gender" class="form-control">
                @foreach (var gender in Enum.GetValues(typeof(Gender)))
                {
                    <option value="@gender">@gender</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="form-group row">
        <label for="DateOfBirth" class="col-sm-2 col-form-label">
            Date of birth
        </label>
        <div class="col-sm-10">
            <InputDate id="DOB" @bind-Value="Employee.DateOfBirth" class="form-control" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    @if (EditEmployeeModel.Id > 0)
    {
        <button class="btn btn-danger" type="button" @onclick="Delete_Click">
            Delete
        </button>
    }

</EditForm>

<ConfirmMessage @ref="DeleteConfirmation"
                ConfirmationChanged="ConfirmDelete_Click" />